<section id="tech">
  <div class="container text-left" data-aos="fade-up">
    <h2 class="projects-title mb-4">Tools yang saya gunakan</h2>
    <div class="swiper techSwiper px-3">
      <div class="swiper-wrapper">
        <!-- Tech Stack Card -->
        <div class="swiper-slide">
          <div class="tech-card">
            <img class="tech-icon" src="/assets/icons/Bootstrap.svg" alt="Bootstrap">
            <span class="tech-name">Bootstrap</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="tech-card">
            <img class="tech-icon" src="/assets/icons/Express.svg" alt="Express">
            <span class="tech-name">Express</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="tech-card">
            <img class="tech-icon" src="/assets/icons/Laravel.svg" alt="Laravel">
            <span class="tech-name">Laravel</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="tech-card">
            <img class="tech-icon" src="/assets/icons/MongoDB.svg" alt="MongoDB">
            <span class="tech-name">MongoDB</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="tech-card">
            <img class="tech-icon" src="/assets/icons/MySQL.svg" alt="MySQL">
            <span class="tech-name">MySQL</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="tech-card">
            <img class="tech-icon" src="/assets/icons/New4j.svg" alt="New4j.js">
            <span class="tech-name">New4j.js</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="tech-card">
            <img class="tech-icon" src="/assets/icons/Node.js.svg" alt="Node.js">
            <span class="tech-name">Node.js</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="tech-card">
            <img class="tech-icon" src="/assets/icons/PHP.svg" alt="PHP">
            <span class="tech-name">PHP</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="tech-card">
            <img class="tech-icon" src="/assets/icons/PostgresSQL.svg" alt="PostgreSQL">
            <span class="tech-name">PostgreSQL</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="tech-card">
            <img class="tech-icon" src="/assets/icons/Tailwind CSS.svg" alt="Tailwind CSS">
            <span class="tech-name">Tailwind CSS</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="tech-card">
            <img class="tech-icon" src="/assets/icons/XML.svg" alt="XML">
            <span class="tech-name">XML</span>
          </div>
        </div>
      </div>
      <!-- Swiper Pagination -->
      <div class="swiper-pagination mt-3"></div>
    </div>
  </div>
</section>
