<section id="profile" class="min-vh-100 flex items-center py-5">
  {{> profile }}
</section>

<section id="tech">
  {{> techstack }}
</section>

<section id="experience">
  {{> experience }}
</section>

<section id="projects">
  {{> projects }}
</section>

<section id="contact">
  {{> contact }}
</section>
